<h1 style="color: red;"align="center">Search Existing Patient</h1>
<div class="first">
<h2>By Name</h2>
<label for="fname"><b>FirstName</b></label><br>
<input type="text" placeholder="Enter First Name" name="fname" id="fname"><br>
<label for="mname"><b>MiddleName</b></label><br>
<input type="text" placeholder="Enter middle name" name="mname" id="mname"><br>
<label for="lname"><b>LastName</b></label><br>
<input type="text" placeholder="Enter Last Name" name="lname" id="lname"><br>
<div style="text-align: center">
    <input type="submit" class="bt2" value="Search" />
    </div>
    <div class="border">
    <h2>By Id</h2>
    <label for="employeeid"><b>Employeeid</b></label><br>
    <input type="text" placeholder="Enter Employeeid" name="Employeeid" id="Employeeid"><br>
    <div style="text-align: center" class="employeeid">
        <input type="submit" class="bt1" value="search"/>
        </div>
        
        </div>
        <div class="border1">
        <h2>By Mobile No</h2>
        <label for="Mno"><b>Employeeid</b></label><br>
        <input type="number" placeholder="Enter MobileNo" name="MobileNo" id="MobileNo"><br>
        <div style="text-align: center" class="Mno">
            <input type="submit" class="bt3" value="search"/>
        </div>
            </div>
            <div class="border2">
            <h2>By Aadhar No</h2>
            <label for="Ano"><b>Aadharno</b></label><br>
            <input type="number" placeholder="Enter AadharNo" name="AadharNo" id="AadharNo"><br>
            <div style="text-align: center" class="aadhar">
                <input type="submit" class="bt4" value="search"/>
                </div>
            </div>
        
    


