.first
{
    border: 2px solid;
    background: grey;
}
.border
{
    border: 2px solid;
}

.border2
{
    border: 2px solid;
}
.bt1
{
    background-color:greenyellow;
}
.bt2
{
    background-color:greenyellow;
}
.bt3
{
    background-color: greenyellow;
}
.bt4
{
    background-color: greenyellow;
}