
    <form class="box">
        <div>
            <h1>Observations</h1><br>
            <h3>(Only for Doctors)</h3>
        </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Symptoms</label><br>
            <textarea class="form-control" c placeholder="eg. #fever #headache #body pain" id="exampleFormControlTextarea1" rows="3" ></textarea>
          </div>
         
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Diagnosis</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="eg.Typhoid">
          </div>
          </form>
        <div>
            <form class="box1">
            <h1>Prescription</h1><br>
            <h3>(For Patients & Receptionist)</h3>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Medicines and Dosage <p style="color: red;">Note- Dosage 1 means Once in a day,<br>2 means twice a day,<br> 3 means Thrice a day,<br>Plz use # to separate different medicines and <br>@ to specify dose</p></label><br>
                <textarea class="form-control" c placeholder="eg. #croin-500@2 #dolo-650@3" id="exampleFormControlTextarea1" rows="3" ></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Do's <p style="color: red;">*Note-Plz use # to separate Do's</p></label><br>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="eg.#do1 # do2">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Dont's <p style="color: red;">*Note-Plz use # to separate Dont's</p></label><br>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="eg.#dont1 # dont2">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Investigations</label><br>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="none">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">follow up date</label><br>
                <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="dd-mm-yyyy">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Fees</label><br>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="eg.500">
            </div>
            </form>
            </div>
            <div class = "box2" style="text-align: center;">
            <button type="submit" class="btn btn-primary">Submit</button></div>
