<h1 style="color: red;" align="center"> Add New Patient</h1>
<form align="center">
<div class="row">
  <div class="col">
    <label for="fname"><b>FirstName</b></label><br>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name"><br><br>
  </div>
  <label for="mname"><b>MiddleName</b></label><br>
<input type="text" placeholder="Enter middle name" name="mname" id="mname"><br><br>
  <div class="col">
    <label for="lname"><b>LastName</b></label><br>

    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"><br><br>
  
</div>
<label for="Gender"><b>Gender</b></label><br>
<select name="Gender" id="Gender">
  <option value="Male">Male</option>
  <option value="Female">Female</option>
</select><br><br>

<label for="email"><b>Email</b></label><br>
<input type="email" placeholder="Enter your email" name="email" id="email" required><br><br>
<label for="Mno"><b>MobileNo</b></label><br>
<input type="tel" placeholder="enter MobileNo" name="Mno" id="Mno"><br><br>
<label for="AadharNo"><b>AadharNo</b></label><br>
<input type="number" placeholder="Enter AadharNo" name="AadharNo" id="AadharNo"><br><br>
<label for="Country"><b>Country</b></label><br>
<input type="text" placeholder="Enter Country name" name="Country" id="Country"><br><br>
<label for="state"><b>State</b></label><br>
<input type="text" placeholder="Enter state name" name="state" id="state"><br><br>
<label for="city"><b>City</b></label><br>
<input type="text" placeholder="Enter city Name" name="city" id="city"><br><br>
<label for="Raddress"><b>ResidentalAddress</b></label><br>
<input type="text" placeholder="Enter ResidentalAddress" name="ResidentalAddress" id="ResidentalAddress"><br><br>
<label for="PermanentAddress"><b>PermanentAddress</b></label><br>
<input type="text" placeholder="PermanentAddress" name="PermanentAddress" id="PermanentAddress"><br><br>
<label for="BloodGroup"><b>BloodGroup</b></label><br>
<input type="text" placeholder="Enter BloodGroup" name="BloodGroup" id="BloodGroup"><br><br>
<label for="chronicDiseases"><b>chronicDiseases</b></label><br>
<input type="text" placeholder="Enter chronicDiseases" name="chronicDiseases" id="chronicDiseases"><br><br>
<label for="MedicineAllergy"><b>MedicineAllergy</b></label><br>
<input type="text" placeholder="MedicineAllergy" name="MedicineAllergy" id="MedicineAllergy"><br><br>
<label for="DoctortobeAssigned"><b>DoctortobeAssigned</b></label><br>
<select name="DoctortobeAssigned"id="DoctortobeAssigned">
  <option value="Dr.neelima arun pawar">Dr.neelima arun pawar</option>
  <option value="Dr.suneetha">Dr.suneetha</option>
  <option value="Dr.Raj">Dr.Raj</option>
</select><br>
</div>

</form>
<div style="text-align: center">
  <input type="submit"  class="center"/>
  <button type="submit" class="two">Add to OPD</button>
  </div>
