
<html>
    <head>
      <title>Dashboard</title>     
    </head>
    <div class="container-sm">  
  <h1>Employee Details</h1>  
  <table class="table">
    <tr class="table-info">
      <th class="table-info">Info</th>
      <th class="table-info">Details</th>
    </tr>
    <tr class="table-info">
      <td class="table-info">{{JD}}</td>
      
      <td class="table-info"> 1 </td>
    </tr>
    <tr class="table-info">
      <td class="table-info" > {{ID}}</td>
     
      <td class="table-info">1  </td>
    </tr>
    <tr class="table-info">
      <td class="table-info"> {{Name}}</td>
     
      <td class="table-info"> 1 </td>
    </tr>
    <tr class="table-info">
      <td class="table-info">{{Birth}}</td>
      
      <td class="table-info">1  </td>
    </tr>
    <tr class="table-info">
      <td class="table-info" >{{Gender}} </td>
      
      <td class="table-info"> 1 </td>
    </tr>
    <tr class="table-info">
      <td class="table-info">{{Email}}</td>
      
      <td class="table-info"> 1 </td>
    </tr>
    <tr class="table-info">
      <td class="table-info"> {{Mobile}}</td>
     
      <td class="table-info"> 1 </td>
    </tr>
 
  <tr class="table-info">
    <td class="table-info">{{Aadhar}}</td>
    
    <td class="table-info"> 1 </td>
  </tr>
  <tr class="table-info">
    <td class="table-info"> {{Country}}</td>
   
    <td class="table-info">1  </td>
  </tr>
  <tr class="table-info">
    <td class="table-info">{{State}}</td>
    
    <td class="table-info"> 1 </td>
  </tr>
  <tr class="table-info">
    <td class="table-info">{{City}}</td>
    
    <td class="table-info"> 1 </td>
  </tr>
  <tr class="table-info">
    <td class="table-info">{{Role}}</td>
    
    <td class="table-info"> 1 </td>
  </tr>
  <tr class="table-info">
    <td class="table-info">{{Qualification}}</td>
    
    <td class="table-info"> 1 </td>
  </tr>
  <tr class="table-info">
    <td class="table-info">{{Specialization}}</td>
    
    <td class="table-info"> 1 </td>
  </tr>
  </table>
  <button type="button" class="btn btn-warning">Delete</button>
  <button type="button" class="btn btn-primary">Edit</button>
  </div>
  </html>