
<html>
    <head>
      <title>Dashboard</title>
      <style>
         tr:nth-child(even) {
              background-color: lightgrey;
          }
      </style>
    </head>
    <div style="text-align: center">
    <h1>Personal Details</h1>
    </div>
    <div class="container-md">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Info</th>
        <th scope="col">Details</th>    
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td colspan="2">{{JD}}</td>
         <td>  </td>     
      </tr>
      <tr>
        <th scope="row">2</th>
        <td colspan="2">{{ID}}</td>
        <td> </td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">{{Name}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2">{{Birth}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2">{{Gender}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td colspan="2">{{Email}}</td>
        <td>  </td>
      </tr> <tr>
        <th scope="row">7</th>
        <td colspan="2">{{Mobile}}</td>
        <td>  </td>
      </tr> <tr>
        <th scope="row">8</th>
        <td colspan="2">{{Aadhar}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td colspan="2">{{Country}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td colspan="2">{{State}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td colspan="2">{{City}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td colspan="2">{{Address}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td colspan="2">{{Role}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td colspan="2">{{Qualification}}</td>
        <td>  </td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td colspan="2">{{Specialization}}</td>
        <td>  </td>
      </tr>
    </tbody>
  </table>
</div>
  </html>
